Source: postgresql-vihash
Section: database
Priority: extra
Maintainer: Peter Eisentraut <petere@postgresql.org>
Build-Depends: debhelper (>= 7.0.50~), postgresql-server-dev-8.3, postgresql-server-dev-8.4, postgresql-server-dev-9.0
Standards-Version: 3.8.4
Homepage: http://github.com/petere/pgvihash

Package: postgresql-8.3-vihash
Architecture: any
Depends: postgresql-8.3, ${misc:Depends}, ${shlibs:Depends}
Enhances: postgresql-8.3-plproxy
Description: version-independent hash functions for PostgreSQL 8.3
 This package contains a PostgreSQL extension function vihashtext()
 that is similar to the built-in hashtext() but is guaranteed not to
 change over major releases, so that it can be used safely for
 partitioning or sharding, for example with PL/Proxy, in installations
 involving multiple PostgreSQL major versions.
 .
 PostgreSQL is an object-relational SQL database management system.

Package: postgresql-8.4-vihash
Architecture: any
Depends: postgresql-8.4, ${misc:Depends}, ${shlibs:Depends}
Enhances: postgresql-8.4-plproxy
Description: version-independent hash functions for PostgreSQL 8.4
 This package contains a PostgreSQL extension function vihashtext()
 that is similar to the built-in hashtext() but is guaranteed not to
 change over major releases, so that it can be used safely for
 partitioning or sharding, for example with PL/Proxy, in installations
 involving multiple PostgreSQL major versions.
 .
 PostgreSQL is an object-relational SQL database management system.

Package: postgresql-9.0-vihash
Architecture: any
Depends: postgresql-9.0, ${misc:Depends}, ${shlibs:Depends}
Enhances: postgresql-9.0-plproxy
Description: version-independent hash functions for PostgreSQL 9.0
 This package contains a PostgreSQL extension function vihashtext()
 that is similar to the built-in hashtext() but is guaranteed not to
 change over major releases, so that it can be used safely for
 partitioning or sharding, for example with PL/Proxy, in installations
 involving multiple PostgreSQL major versions.
 .
 PostgreSQL is an object-relational SQL database management system.
