#!/usr/bin/make -f

define symlink-farm
for x in $$(find -name debian -prune -o -name $(1) -prune -o -type f -print); do mkdir -p $$(dirname $(1)/$$x); ln -s $(CURDIR)/$$x $(CURDIR)/$(1)/$$x; done
endef

define do-build
$(MAKE) -C build-$(1) all PG_CONFIG=/usr/lib/postgresql/$(1)/bin/pg_config
endef

define do-install
$(MAKE) -C build-$(1) install PG_CONFIG=/usr/lib/postgresql/$(1)/bin/pg_config DESTDIR=$(CURDIR)/debian/postgresql-$(1)-vihash
endef

%:
	dh $@

override_dh_auto_configure:
	$(call symlink-farm,build-8.3)
	$(call symlink-farm,build-8.4)
	$(call symlink-farm,build-9.0)

override_dh_auto_build:
	$(call do-build,8.3)
	$(call do-build,8.4)
	$(call do-build,9.0)

# do not run:
override_dh_auto_test:

override_dh_auto_install:
	$(call do-install,8.3)
	$(call do-install,8.4)
	$(call do-install,9.0)

override_dh_auto_clean:
	rm -rf build-*
