#!/usr/bin/make -f

SRCDIR = $(CURDIR)
include /usr/share/postgresql-common/pgxs_debian_control.mk

%:
	dh $@

clean: debian/control
.PHONY: debian/control

override_dh_auto_build:
	+pg_buildext build $(CURDIR) build-%v
	for v in `pg_buildext supported-versions $(CURDIR)`; do ln -s $(CURDIR)/uninstall_vihash.sql build-$$v; done

# do not run:
override_dh_auto_test:

override_dh_auto_install:
	+pg_buildext install $(CURDIR) build-%v postgresql-%v-vihash

override_dh_auto_clean:
	+pg_buildext clean $(CURDIR) build-%v
